<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Go to Space - Simple Space API Built with Golang</title>
    <link href="/static/main.css" rel="stylesheet"/>
</head>
<body>
    <div class="main">
        <div class="header">
            <h1>GO to Space</h1>
            <p>Simple Space API Built with Golang</p>
            <div class="buttons">
                <a href="https://github.com/devardha/go-to-space"><button class="btn-primary">GitHub</button><a/>
                <a href="http://localhost:8080/api/galaxies"><button class="btn-secondary">API</button></a>
            </div>
        </div>
        <div class="goimage">
            <img src="https://www.dmuth.org/wp-content/uploads/2018/12/golang-gopher-not-a-serial-killer.png"/>
        </div>
    </div>
</body>
</html>